<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.greengram.feed.FeedPicMapper">
    <insert id="insFeedPic">
        insert into feed_pic
        (feed_id, pic)
        values
        <foreach collection="pics" item="pic" open="(" close=")" separator="),(">
            #{feedId}, #{pic}
        </foreach>

    </insert>

    <select id="selFeedPicList">
    select pic
        from feed_pic
        where feed_id = #{feedId}
    </select>
    <select id="selPicListByFeedIds">
        select feed_id as feedId
        , pic
        from feed_pic
        where feed_id in
        <foreach collection="feedIds" open="(" item="item" close=")" separator=",">
            #{item}
        </foreach>
        order by feed_id desc
    </select>
</mapper>