<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.greengramver2.user.UserMapper">
    <insert id="insUser" useGeneratedKeys="true" keyProperty="userId"> <!--keyProperty="userId" 이거때문에 멤버필드 만듦-->
        insert into user
        set uid = #{uid},
        upw = #{upw},
        nick_name = #{nickName},
        pic = #{pic}
    </insert>
    <select id="selUserByUid">
        select user_id as userId
        , ifnull(nick_name,uid) as nickName
        , pic, upw
        from user
        where uid = #{uid}
    </select>
</mapper>